.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
